## Pliki binarne i foldery kompilacji
[Bb]in/
[Oo]bj/
[Zz]bin/
[Rr]elease/
[Dd]ebug/
x64/
x86/
[Aa]rm/
[Aa]rm64/

##  Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
*.sublime-project
*.sublime-workspace
.vs/

## Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

## NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/

## Pliki systemowe
Thumbs.db
Desktop.ini
.DS_Store

## Logi i raporty
*.log
*.tmp
*.bak